#darkMode {
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: var(--bg-black-100);
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: var(--bg-black-100);
}
