.about-section {
  padding: 80px 0 0;
  min-height: 100vh;
}

.about-section .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}
.about-section .about-img .img-box {
  padding: 15px;
  border-radius: 5px;
}
.about-section .about-img .img-box img {
  width: 100%;
  border: l0px solid transparent;
}
.about-section .about-img .social-links {
  margin-top: 20px;
  text-align: center;
}
.about-section .about-img .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--text-black-600);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-section .about-img .social-links a i {
  line-height: 40px;
}
.about-section .about-img .social-links a:after {
  border-radius: 50%;
}
.about-section .about-img .social-links a:hover {
  color: var(--skin-color);
}

.about-section .about-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}
.about-section .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}
.about-section .about-info span {
  font-weight: 600;
}
.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
  padding: 1rem;
}

.about-section .about-tabs {
  padding: 60px 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}
.about-section .about-tabs .tab-item.active {
  color: var(--skin-color);
}

.about-section .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}
.about-section .tab-content.active {
  display: block;
  animation: fadeInTop 0.5s ease;
}
.about-section .skill {
  padding: 0 0 40px;
}
.about-section .skills .skill-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 40px;
}
.about-section .skills .skill-item p {
  font-size: 16px;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin: 0 0 10px;
}
.about-section .skills .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.about-section .skills .skill-item .progress-bar {
  background-color: var(--text-black-600);
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}
.about-section .skills .skill-item .progress-bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-600);
  margin-top: -40px;
}
.about-section .education,
.about-section .experience {
  padding-bottom: 80px;
}
.about-section .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.about-section .timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--bg-black-100);
  left: 50%;
  top: 0;
  position: absolute;
}
.about-section .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.about-section .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}
.about-section .timeline .timeline-item-inner:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--bg-black-100);
  top: 37px;
  z-index: -1;
}
.about-section
  .timeline
  .timeline-item:nth-child(odd)
  .timeline-item-inner:before {
  right: -30px;
}
.about-section
  .timeline
  .timeline-item:nth-child(even)
  .timeline-item-inner:before {
  left: -30px;
}
.about-section .timeline .timeline-item-inner .icon {
  height: 40px;
  width: 40px;
  background-color: var(--bg-black-50);
  text-align: center;
  border: 1px solid var(--bg-black-100);
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--skin-color);
  position: absolute;
  top: 18px;
}
.about-section .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}
.about-section .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}
.about-section .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h3 {
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 0 0 50px;
  text-transform: capitalize;
}
.about-section .timeline .timeline-item-inner h4 {
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}
.about-section .timeline .timeline-item-inner p {
  font-style: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}

/* .about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background-color: linear-gradient(
    45deg,
    transparent,
    var(--bg-black-100),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, ifr);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__cards.hover {
  background-color: transparent;
  border-color: var(--bg-black-100);
  cursor: default;
}

.about__icon {
  color: red;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}
.about__card small {
  color: 0.7rem;
  color: blue;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: black;
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin-left: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5 0;
  }
} */
